header {
    margin-top: 70px;

    .logo-header {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 2.5em;
        font-weight: 400;
        
        .logo-bold {
            font-weight: 500;
        }
    }

    .wordspy-desc {
        font-size: 1em;
        font-weight: 500;
    }
}