.wordspy-text {
    margin-top: 50px;

    #words {
        border-radius: 5px;
        color: #ff7b73;
        font-size: 1.2em;
        font-weight: 500;
        height: 400px;
        outline: none;
        width: 90%;
    }
}