@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    background-color: #ff7b73;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.s-container {
    text-align: center;
    width: 100vw;
}